*{
	margin: 0;
	padding: 0
}

body{
	background-color: #000
}


.t{
	list-style: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.t li{
	display: inline-block;
	margin-right: 50px;
	font-family: Open Sans ,Arial;
	font-weight: 300;
	color: #fff;
	font-size: 3em;
	opacity: 1;
	transition: all 2.5s ease;

}

.t li:nth-child(5){
    color: red;

}

.t li:last-child{
	margin-right: 0
}
.t.hidden li{
	opacity: 0
}

.t.hidden li:nth-child(1){transform: translateX(-200px) translateY(-200px);}
.t.hidden li:nth-child(2){transform: translateX(20px) translateY(100px);}
.t.hidden li:nth-child(3){transform: translateX(-150px) translateY(-80px);}
.t.hidden li:nth-child(4){transform: translateX(10px) translateY(-200px);}
.t.hidden li:nth-child(5){transform: translateX(-300px) translateY(200px);}
.t.hidden li:nth-child(6){transform: translateX(100px) translateY(-80px);}
.t.hidden li:nth-child(7){transform: translateX(30px) translateY(200px);}



a{
	text-decoration: none;
	color: #fff;
	width: 120px;
	text-align: center;
	padding: 10px 0;
	border-radius:3px;
	border:1px solid #eee;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translateX(-50%) translateY(-60%);
	display: none;

}

a:hover{
	/*background: goldenrod;*/
	/*background: gray;*/
	background: pink;

}

